body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: #282c34;
  color: white;
}

.congratulations {
  font-size: 2em;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInOut 15s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.center-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1; /* Ensure it is above the confetti */
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.center-button:hover {
  background-color: #21a1f1;
}
